@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* margin-left: auto;
  margin-right: auto; */
  /* color: rgb(var(--foreground-rgb)); */
  /* background-color: #1F1E1F; */
  /* background-color: #242746; */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
/* 
  background: linear-gradient( #6600cc, #000000); */
 background: rgb(15 23 42);
  /* background: radial-gradient(circle, rgba(0,0,0,1) 34%, rgba(36,39,70,1) 83%);
   */
  /* แสงเงา */
  /* box-shadow: inset 20px 20px 50px #4d0099, inset -20px -20px 50px #7300bf; */
  /* กำหนด font และสีของข้อความ */
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
/* @media(max-width:1280px)
{
  body{
    width: 100%;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* .bg-purple-950{
    background-color: #45286B;
  } */

}
